<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="cool_robot_ros2_control" params="
               name
               prefix">
    <!-- ========================================= -->
    <!-- ethercat master -->
    <!-- ========================================= -->
    <ros2_control name="ec_cool_robot" type="system">
      <hardware>
        <plugin>ethercat_driver/EthercatDriver</plugin>
        <param name="master_id">0</param>
        <param name="control_frequency">100</param>
      </hardware>
      <!-- ========================================= -->
      <!-- ethercat slave 0 joint1 -->
      <!-- ========================================= -->
      <joint name="${prefix}joint1">
        <command_interface name="control_word"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <ec_module name="RSM90E7_J1">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find cool_robot_description)/config/rs_m90e7_j1j2.yaml</param>
        </ec_module>
      </joint>
      <!-- ========================================= -->
      <!-- ethercat slave 1 joint2 -->
      <!-- ========================================= -->
      <joint name="${prefix}joint2">
        <command_interface name="control_word"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <ec_module name="RSM90E7_J2">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">1</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find cool_robot_description)/config/rs_m90e7_j1j2.yaml</param>
        </ec_module>
      </joint>
      <!-- ========================================= -->
      <!-- ethercat slave 2 joint3 -->
      <!-- ========================================= -->
      <joint name="${prefix}joint3">
        <command_interface name="control_word"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <ec_module name="RSM90E7_J3">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">2</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find cool_robot_description)/config/rs_m90e7_j3j4j5.yaml</param>
        </ec_module>
      </joint>
      <!-- ========================================= -->
      <!-- ethercat slave 3 joint4 -->
      <!-- ========================================= -->
      <joint name="${prefix}joint4">
        <command_interface name="control_word"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <ec_module name="RSM90E7_J4">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">3</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find cool_robot_description)/config/rs_m90e7_j3j4j5.yaml</param>
        </ec_module>
      </joint>
      <!-- ========================================= -->
      <!-- ethercat slave 4 joint5 -->
      <!-- ========================================= -->
      <joint name="${prefix}joint5">
        <command_interface name="control_word"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <ec_module name="RSM90E7_J5">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">4</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find cool_robot_description)/config/rs_m90e7_j3j4j5.yaml</param>
        </ec_module>
      </joint>
      <!-- ========================================= -->
      <!-- ethercat slave 5 joint6 -->
      <!-- ========================================= -->
      <joint name="${prefix}joint6">
        <command_interface name="control_word"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <ec_module name="RSM90E7_J6">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">5</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find cool_robot_description)/config/rs_m90e7_j6.yaml</param>
        </ec_module>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
