<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="cool_robot">

  <!-- ========================================= -->
  <!-- include macro from xacro files -->
  <!-- ========================================= -->
  <xacro:include filename="$(find rs_m90e7_description)/urdf/rs_m90e7/rs_m90e7_macro.xacro"/>
  <xacro:include filename="$(find cool_robot_description)/urdf/cool_robot/cool_robot_macro.ros2_control.xacro"/>

  <!-- ========================================= -->
  <!-- define robot-->
  <!-- ========================================= -->
  <!-- create link fixed to the "world" -->
  <link name="world" />

  <xacro:rs_m90e7 prefix="" parent="world">
    <origin xyz="0.5 0 0" rpy="0 0 0" />
  </xacro:rs_m90e7>

  <!-- ========================================= -->
  <!-- define ros2 control-->
  <!-- ========================================= -->
  <xacro:cool_robot_ros2_control name="cool_robot" prefix=""/>

</robot>
